.thefooter{
  padding-bottom: 100px;
}
.twitter{
  color: #55acee;
}
.instagram{
  color: #ac2bac;
}
.facebook{
  color: #3b5998;
}
.github{
  color: #1b1e22;
}

.twitter:hover,
.instagram:hover,
.facebook:hover,
.github:hover{

color:black;

}

.spooky{
  background-color: #602749;
}

.spookyText{
  color: #f6921d;
}

.spookyIcon{
  color: #b14623;
}
